<!DOCTYPE html>
<html ng-app="registrationModule">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap/bootstrap-slate.min.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/registration-module.js"></script>
    @RenderSection("JavascriptInHead", false)
</head>
<body>
    @RenderBody()

    @RenderSection("scripts", required: false)
</body>
</html>